.jumbotron {
	background-image: url(../img/anu.png);
	background-size: cover;
	height: 550px;
	text-align: center;
	margin-top: -75px;
}

.jumbotron .display-4 {
	color: white;
	margin-top: 100px;
}

.jumbotron p {
	color: white;
	margin-top: 20px;
}

.jumbotron hr {
	border-color: #fc0303;
	width: 70px;
	border-width: 3px;
}